:root{
  --green_bg: #061a13;
  --light-green: #13342c;
}
body {
  margin: 0;
  font-family: var(--font) ;
  font-size: 18px;
  background-color: var(--green_bg);
  color: #DBDBDB;
}

.product_container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.benefits_list {
  list-style: disc;
  margin-left: 20px;
  color: #DBDBDB;
  line-height: 2rem !important;
}

.main-content {
  flex-grow: 2;
  align-self: stretch;
  max-width: 900px;
  padding: 20px;
  background-color:var(--green_bg);
  box-sizing: border-box;
}

.main_container {
  max-width: 700px;
}

.pic_acceler8 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: auto;
}

.main_container p {
  line-height: 1.5rem;
  margin: 10px 0;
}

.main_container h2,
.main_container h3 {
  margin: 10px 0; 
}

.product_pic{
  margin-left: 5%
}

.product_pic  img {
  height: 350px;
  width: auto;
  object-fit: cover;

}

.product-list {
  flex-grow: 1;
  max-width: 300px;
  background-color: var(--green_bg);
  box-sizing: border-box;
}

.product-list ul {
  list-style: none;
}

.product-list li {
  max-width: 350px;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: var(--light-green);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.product-list img {
  max-width: 100px;
  object-fit: cover;
  height: auto;
  margin-right: 10px;
}

.buttons {
  column-gap: 15px;
  display: flex;
  margin: 20px 0;
}

.buttons a {
  padding: 10px 80px;
  background-color: #4CAF50;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.product-list a li {
  color: #DBDBDB;
  height: 100px;
  
}
.product-list a li:hover {
  color: #fff;
}
.product-list li {
  transition: all 0.3s ease;
  
}
.product-list li:hover {
  color: #fff;
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .product_container {
      width: 100%;
      max-width: 1200px;
      padding: 20px;
      box-sizing: border-box;
      
  }
  .main-content {
      padding: 10px 15px 15px 0; 
      flex-shrink: 1;
      width: calc(70% - 20px);
      box-sizing: border-box;
  }
  .product-list {
      width: calc(30% - 20px);
      box-sizing: border-box;
  }
}

@media (max-width: 995px) {
  .product-list img {
      max-width: 80px;
      height: auto;
  }
  .product-list {
      font-size: 16px;
  }
}

@media screen and (max-width: 886px) {
  .products-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 16px;
  }
  .main-content {
     flex-shrink: 2;
      box-sizing: border-box;
  }
  .product-list {
      font-size: 14px;
  }
  .product-list img {
      margin-right: 2px;
  }
  .buttons a{
    padding: 10px 65px;
  }
}

@media screen and (max-width: 767px) {
  .product_container {
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      padding: 1rem;
  }
  .main-content{
    padding: 10px  0; 
  }
  .container {
    padding: 0 0.5rem;
  }
   .product_pic {
      display: flex;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      margin-left: 0 !important;
  }
  .buttons a {
      display: flex;
      justify-content: center;
      flex-grow: 1;
      padding: 10px 45px; 
  }
  .main-content,
  .product-list {
      width: 100%;
      margin: auto 0;
  }
  .product-list li {
      font-size: 1.1rem;
      max-width: 400px;
  }
  .product-list img {
      margin-right: 10px;

  }
  .rejuven8{
    margin-left: 0% !important;
  }
}

@media screen and (max-width: 441px){
  .buttons a {
    padding: 10px 25px; 
}
}