.header_burger{
    display: none;
}


.main-banner {
    background:
     linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
     url('../ImagesB/hero-bg2.avif');
    background-size: cover;
    background-position: center;
    aspect-ratio: 1440/655;
    padding: 6rem 0 6rem;
}

.main-banner__wrapper {
    display: grid;
    grid-template-columns: 60% 1fr;
    padding: 0 1em;
}


.main-banner__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}
.above{
    color: var(--green);
}
.main-banner__content h1 {
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: white;
    line-height: 4rem;
}

.main-banner__content h3 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Gilroy', sans-serif;
    color: #ffffff;
    
}



.main-banner__social {
    display: flex;
    align-items: center;
    justify-content: end;
}

.main-banner__social-items{
    display: flex;
    flex-direction: column;
    gap: 60px;
    cursor: pointer;
    transition: all 0.4s ease;
}


.soc_icon{
    filter: invert(100%)
}
 .soc_icon:hover {
    transform: scale(1.2);
    transition: all 0.4s ease;
}
    
}

@media (max-width:900px){
    .main-banner__content h1{
        font-size: 48px;
        line-height: normal;
    }
    .main-banner__content h3{
        font-size: 24px;
    }
}

@media screen and (max-width: 767px){
    .main-banner{
        background:
         linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
         url('../ImagesB/modile-bg.avif');
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70vh;
        width: 100%;
    }
    .main-banner__content h1{
        font-size: 20px;
        line-height: normal;
    }

    .main-banner__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-discription{
        font-size: 24px !important;
        text-align: center ;
        line-height: 30px !important;
        font-weight: 500 !important;
    }
    
    .above{
        text-align: start;
        align-items: center;
        justify-content: center;
    }
    .main-banner__content h3{
        font-size: 16px !important;
        font-weight: 300 !important;
        line-height: 28px;
    }

    .main-banner__content button {
        font-size: 18px;
        padding: 20px 60px;
        background: var(--green);
        color: white;
        border-radius: 4px;
        cursor: pointer;
        border: none;
    }
    .main-banner {
        background-size: cover;
        background-position: center;
        aspect-ratio: 1440/655;
        padding: 1rem 0 1rem;
    }
    .main-banner__content {
        gap: 1.5rem;
    }

    .main-banner__social {
        display: flex;
        text-align: center; 
        justify-content: center;
    }
    
    .main-banner__social-items {
        padding: 20px;
        display: flex;
        flex-direction: row !important;
    }

    .echofy-text-section {
        padding: 0 0 30px ;    
    }

    .echofy-text-section .marquee-block .content-box h6.title img {
        position: relative;
        left: -49px;
        bottom: -22px;
    }
    .echofy-text-section .marquee-block .content-box h6.title {
        display: inline-block;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        gap: 20px;
    }
}





